{% extends 'base/base.html' %}
{% load static %}
{% block title %}Portal de Comunicados{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{% static 'comunicado/css/comunicado.css' %}">
{% endblock styles %}

{% block content %}

<div class="container mt-5">
    <h1><i class="fa-solid fa-bullhorn"></i> Comunicados</h1>
    {% for comunicado in comunicados %}
    <div class="card mb-3 comunicado">
        <div class="card-body d-flex align-items-start">
            {% if comunicado.imagem %}
                <img src="{{ comunicado.imagem.url }}" alt="Imagem do comunicado" class="comunicado-img">
            {% endif %}
            <div class="comunicado-text">
                <h5 class="card-title">{{ comunicado.titulo }}</h5>
                <p class="card-text descricao-resumida">{{ comunicado.mensagem|truncatewords:30 }}</p>
                {% if comunicado.mensagem|wordcount > 30 %}
                    <span class="ler-mais-btn" data-target="comunicado-completo-{{ comunicado.id }}">Ler mais</span>
                {% endif %}

                {% if comunicado.mensagem|wordcount > 30 %}
                <div class="descricao-completa escondida" id="comunicado-completo-{{ comunicado.id }}">
                    <p class="card-text">{{ comunicado.mensagem }}</p>
                    <span class="ler-menos-btn" data-target="comunicado-completo-{{ comunicado.id }}">Ler menos</span>
                </div>
                {% endif %}
                <p class="text-muted">Publicado em {{ comunicado.data_publicacao|date:"d/m/Y H:i" }}</p>
            </div>
        </div>
    </div>
    {% empty %}
        <p>Nenhum comunicado encontrado.</p>
    {% endfor %}
</div>



<script>


    document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.ler-mais-btn').forEach(function(button) {
        button.addEventListener('click', function() {
            const targetId = this.dataset.target;
            const descricaoCompleta = document.getElementById(targetId);
            const descricaoResumida = this.previousElementSibling;

            if (descricaoCompleta && descricaoResumida) {
                descricaoResumida.classList.add('escondida');
                this.classList.add('escondida');
                descricaoCompleta.classList.remove('escondida');
            }
        });
    });

    // Adiciona evento de clique aos botões "Ler menos"
    document.querySelectorAll('.ler-menos-btn').forEach(function(button) {
        button.addEventListener('click', function() {
            const targetId = this.dataset.target;
            const descricaoCompleta = document.getElementById(targetId);
            const comunicadoParent = this.closest('.comunicado-text');
            const descricaoResumida = comunicadoParent.querySelector('.descricao-resumida');
            const lerMaisBtn = comunicadoParent.querySelector('.ler-mais-btn');

            if (descricaoCompleta && descricaoResumida && lerMaisBtn) {
                descricaoCompleta.classList.add('escondida');
                descricaoResumida.classList.remove('escondida');
                lerMaisBtn.classList.remove('escondida');
            }
        });
    });
});


</script>

{% endblock content %}
