{% extends "base/base.html" %}
{% load static %}
{% block title %}Pestalozzi Maricá{% endblock %}
{% block content %}
    <section class="hero">
        <div class="hero-content">
            <img src={% static "img/logo_nome.png" %} alt="Pestalozzi Maricá" title="Logo Pestalozzi Maricá" class="logo">
            <div>
                <h2>Transforme vidas com a Pestalozzi Maricá</h2>
                <p>Junte-se a nós na inclusão e no cuidado de pessoas com deficiência.</p>
                <a href={% url "voluntario" %} class="btn-cta">Quero ser voluntário</a>
            </div>
        </div>
    </section>

    <section class="container fade-in">
        <h2 class="section-title"><i data-lucide="info"></i> Sobre a Instituição</h2>
    </section>

    <section id="sobre" class="container fade-in">
        <p>No dia 29/11/1984, em reunião realizada na Prefeitura de Maricá, foi fundada a Pestalozzi de Maricá, de natureza jurídica de direito privado sem fins lucrativos.
            Nestes anos de atuação, a APM tem participação ativa nos Conselhos Municipais (Saúde- CMS, Assistência - CMAS, Direitos da Criança e do Adolescente - CMDCA e Direitos da Pessoa com Deficiência- CMDCA), assim em outros espaços de Garantia de Direito.
            Com o objetivo de oferecer Planos Individuais de Atendimento de Prevenção, Habilitação e Reabilitação no âmbito da Norma Operacional Básica do Sistema Único de Assistência Social-NOB/SUAS, aos recém-nato de risco; crianças com atraso no desenvolvimento; crianças e adolescentes com deficiência (física/intelectual/transtorno global do desenvolvimento) e/ou com transtorno de aprendizagem; abrangendo as suas famílias, a fim de promover e assegurar o desfrute pleno e equitativo de todos os seus direitos, a interação social, a autonomia e melhoria da qualidade de vida dessas pessoas. <br>
            <button type="submit">Saiba mais</button></p>

        <img src= {% static "img/fachada.jpg" %} alt="Fachada da Pestalozzi Maricá" title="Fachada da Pestalozzi Maricá">
    </section>
{% endblock content %}