{% extends "base/base.html" %}
{% load static %}
{% block title %}Pestalozzi Maricá{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}" />
{% endblock styles %}
{% block content %}
    <section class="hero">
        <div class="hero-content">
            <img src={% static "img/logo_nome.png" %} title="Logo Pestalozzi" alt="Pestalozzi Maricá" class="logo">
            <div>
                <h2>Transforme vidas com a Pestalozzi Maricá</h2>
                <p>Com sua doação, podemos ampliar o cuidado e a inclusão de pessoas com deficiência.</p>
                <button class="btn btn-doacao" href="#donation-section">Faça sua doação</button> 
            </div>
        </div>
    </section>

    <section class="container fade-in">
        <h2 class="section-title"><i data-lucide="info"></i>Quem Somos</h2>
    </section>
    <section id="sobre" class="container fade-in">
        <p>
        Somos uma organização sem fins lucrativos que atua no cuidado e no desenvolvimento de crianças e adolescentes em situação de vulnerabilidade. Oferecemos atendimento individualizado nas áreas de prevenção, habilitação e reabilitação para recém-nascidos de risco, crianças com atraso no desenvolvimento, deficiência física ou intelectual, transtornos do desenvolvimento e dificuldades de aprendizagem. Nosso trabalho também inclui o apoio às famílias, promovendo inclusão, autonomia e qualidade de vida.
        </p>
        <a href="{% url 'sobre' %}" class="btn btn-saiba-mais">Saiba mais</a>
        <img src={% static "img/fachada.jpg" %} alt="Fachada da Pestalozzi Maricá" title="Fachada da Pestalozzi Maricá">
    </section>

    <section id="transparencia" class="container fade-in">
        <h2 class="section-title"><i data-lucide="file-text"></i> Transparência</h2>
        <p class="transparency-intro-text">Comprometemo-nos com a transparência total de nossas ações e recursos. Acesse nossos documentos financeiros e administrativos para acompanhar de perto o impacto da sua contribuição:</p>
        
        <div class="transparency-grid">
            <a href="https://drive.google.com/drive/folders/1vLkUNGbXwpjo-8bhy2LIddRxMlsT1b69" target="_blank" class="transparency-item">
                <i data-lucide="file-check"></i> <span>ATA Diretoria</span>
            </a>
            <a href="https://drive.google.com/drive/folders/1YfVRwkYh2gwD-7CIOY2eqwECnhK-OVjb" target="_blank" class="transparency-item">
                <i data-lucide="scale"></i> <span>Balanço Patrimonial</span>
            </a>
            <a href="https://drive.google.com/drive/folders/1dfcVfVjZEAuTY61legyoVBe15hB5-xqC" target="_blank" class="transparency-item">
                <i data-lucide="folder-check"></i> <span>Emenda Dep. Otávio Leite / Repasse Pref. Maricá</span>
            </a>
            <a href="https://drive.google.com/drive/folders/1_MI4fNazQsuLG9DPZlw969MuduxurRL1" target="_blank" class="transparency-item">
                <i data-lucide="clipboard-list"></i> <span>Planos de Ação</span>
            </a>
            <a href="https://drive.google.com/drive/folders/1SMNOM6droh5sP870OpOmj60OdTYW7i2b" target="_blank" class="transparency-item">
                <i data-lucide="receipt"></i> <span>Termo de Fomento 702/2018 - LOTERJ</span>
            </a>
            <a href="https://drive.google.com/drive/folders/1U1w46lNyDqA_Qt-OB24ECogpu2_Gaa4j" target="_blank" class="transparency-item">
                <i data-lucide="wallet"></i> <span>Recibos</span>
            </a>
            <a href="https://drive.google.com/drive/folders/1m_a75ogSv0X5_Qck9swWqTkjbmFw73zh" target="_blank" class="transparency-item">
                <i data-lucide="file-bar-chart-2"></i> <span>Relatório</span>
            </a>
        </div>
    </section>

    <section id="donation-section" class="container fade-in">
        <div class="donation-content-wrapper">
            <div class="donation-cta-text">
                <h2 class="section-title"><i data-lucide="heart"></i> Sua doação faz a diferença!</h2>
                <p>
                    Com sua ajuda, podemos continuar oferecendo atendimento especializado e promovendo a inclusão de crianças e adolescentes com deficiência. Cada contribuição é um passo em direção a um futuro mais inclusivo e digno.
                </p>
                <p>
                    Escolha a forma que melhor se adapta a você e seja um parceiro nessa transformação!
                </p>
            </div>

            <div class="donation-info-box">
                <h3>Dados para Doação Bancária</h3>
                <p><strong>Caixa Econômica Federal:</strong></p>
                <ul>
                    <li><strong>Agência:</strong> 1244</li>
                    <li><strong>Conta:</strong> 1166-0</li>
                </ul>
                
                <h3>Doação Online (Vakinha)</h3>
                <p>
                    Clique no link abaixo para fazer sua doação de forma rápida e segura pela plataforma Vakinha:
                </p>
                <a href="https://www.vakinha.com.br/vaquinha/vaquinha-pra-pestalozzi-de-marica?fbclid=PAQ0xDSwKjMZFleHRuA2FlQIBxMQABp9xO56ZPsnqfhoHTtiv7bQ-C0qC9F885OIr_y0nENzqLwpdPXp37dMucJp4_aem_M6W3HKh2banF5u0Y1Kbtaw" target="_blank" class="btn btn-vakinha">Doar pela Vakinha</a>
            </div>
        </div>
    </section>
{% endblock content %}